@charset "utf-8";
@import url(icon.css);
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Nanum+Gothic|Pacifico|Satisfy');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
html, body{
    height: 100%;
    font-size: 16px;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    /* inherit 부모에게 상속 받음 */
    color:inherit;
}
button {
    border: none;
    background:none;
    padding: 0;
}
.clearBox::after {content:''; display: block; clear:both;}
/*******************************************************************************************/
.header {
    background-color: black;
    border: 1px black solid;
    z-index: 100;
    position: relative;
}
.header .headerBox {
    background-color: black;
    border: red solid 1px;
    margin: 10px;
    /* display: none; */
    
}
.logo h1 {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    padding: 10px 0;
}
.logo img{
    width: 100%;
}
.header .headerBox .navi2{
    width: 100%;
    display: none;
    background-color: black;
    position: absolute;
    z-index: 10;
}
.header .navi:hover+.navi2,
.header .navi2:hover
{
    display: block;
}
.header .headerBox ul{
    color: white;
    width: 950px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.header .headerBox ul li{
    display: inline-block;
    padding: 0 50px;
    font-size: 1em;
    font-weight: bold;
}
nav .navigation{
    background-color: black;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}
nav .navigation .fixedNav{
    color: white;
    width: 950px;
    margin: 10px auto;
}
nav .navigation .fixedNav li{
    display: inline-block;
    padding: 0 50px;
    font-size: 1em;
    font-weight: bold;
}
nav .navigation .naviBox{
    border: red solid 1px;
    margin: 10px;
}
/* --------------------------------------------------------------------------------------- */
.banner {
    width: 100%;
    background-color: #c7d1e3;
    padding: 50px;
}
.banner .cont{
    width: 980px;
    margin: 0 auto;
}
.banner .banner_logo01{
    width: 250px;
    
}
.banner .banner_img01{
    width: 400px;
    margin-left: 150px;
}
.bannerBox01{
    float: left;
    width: 55%;
}
.banner .banner_txt01{
    text-align: center;
}
.banner .banner_txt01 p:nth-child(1){
    font-size: 1.7em;
    line-height: 2.5em;
    color : #6a8dbf;
    font-weight: 600;
    /* letter-spacing:  */
}
.banner .banner_txt01 p:nth-child(2){
    font-size: 1.9em;
    font-weight: bold;
}
.banner .banner_txt01 p:nth-child(3){
    font-size: 2.1em;
    line-height: 1.5em;
    font-weight: bold;
}
.banner .banner_txt01 p:nth-child(4){
    font-size: 2em;
    line-height: 3em;
    font-weight: 200;
    color: red;
}
.banner .banner_txt01 p:nth-child(2) span{
    color: #6a8dbf;
}
.banner .banner_txt01 p:nth-child(3) span{
    color: #6a8dbf;
}
.banner .banner_sub01{
    width: 200px;
    margin: 50px auto;
}
.bannerBox02{
    float: right;
    text-align: center;
}
.banner .banner_logo01 img,
.banner .banner_img01 img,
.banner .banner_sub01 img{
    width: 100%;
}
/* ---------------------------------------------------------------------------------- */
.menuSection>div>div>div{
    height: 80%;
    border-bottom: 1px #ccc solid;
}
.coffee>div{
    width: 90%;
}
.cake>div{
    width: 75%;
    padding-left: 50px;
    margin-top: 5px;
    float: right;
}
.tabMenu {
    color: white;
    height: 100%;
}
.tabMenu .swiper-slide {
    display: inline-block;
    width: auto;
    padding: 10px 0;
    border: 1px solid green;
}
/* -------------------------------------------------------------------------------- */
.menuSection{
    padding: 150px 0;
}
.menuSection>div {
    position: relative;
    height: 350px;
}
.menuSection .coffee{
    width: 55%;
    height: 350px;
    background-image: url(../img/menu01.png);
    background-size: cover;
    background-position-x: right;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.menuSection .cake{
    width: 65%;
    height: 330px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 10px;
    background: red;
}

/* ---------------------------------------------------------------------------------- */
.newProduct .backImg{
    border: 1px black solid;
    background-image: url(../img/newProduct.png);
    background-size: cover;
    height: 700px;
    width: 100%;
}
.newProduct .backImg h2 {
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    text-align: center;
    padding: 100px 0 150px;
    font-weight: 300;
}
.newProduct .circleBox{
    width: 930px;
    margin: 0 auto;
    position: relative;
}
.newProduct .circle{
    height: 330px;
    width: 330px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}
.newProduct .circleBox .circle:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(../img/new01.png);
    background-position: 50%;
    background-size: 270px;
    background-repeat: no-repeat;
}
.newProduct .circleBox .circle:nth-child(2){
    position: absolute;
    top: 0;
    left: 32.5%;
    z-index: 2;
    background-image: url(../img/new02.png);
    background-position: 50%;
    background-size: 270px;
    background-repeat: no-repeat;
}
.newProduct .circleBox .circle:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-image: url(../img/Untitled-1.png);
    background-position: 50%;
    background-size: 270px;
    background-repeat: no-repeat;
}
.newProduct .circleBox .circle:hover {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    z-index: 5;
    background-size: 300px;
}


/* -------------------------------------------------------------------------------- */
.sns h2{
    margin: 100px auto;
    width: 300px;
    text-align: center;
}
.sns .snsImg{
    width: 930px;
    margin: 0 auto 150px;
}
.sns .snsImg>div{
    width:300px;
    float: left;
    background-color: white;
    box-shadow: 0 0  5px 2px #555555;
    margin: 0 5px;
    padding: 5px 5px 30px;
}
.sns .snsImg>div>div{
    height: 270px;
    overflow: hidden;
}
.sns .snsImg div img {
    width: 100%;
    border: 1px #ccc solid;
}
.sns .snsImg span{
    float: right;
    margin: 70px 0 0;
    font-weight: 800;
    color: steelblue;
}
/* ----------------------------------------------------------------------------- */
.map .backgroundImg{
    width: 100%;
    height: 450px;
    background-image: url(../img/map01.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.map .backgroundImg .mapLeft,
.map .backgroundImg .mapRight{
    width: 50%;
    height: 100%;
    float: left;
}
.map .backgroundImg .mapLeft{
    background-color: rgba(255, 0, 0, 0.8);
}
.map .backgroundImg .mapRight{
    background-color: rgba(0, 0, 0, 0.8);
}