@charset "utf-8";
@import url(icon.css);
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Nanum+Gothic|Pacifico|Satisfy');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
html, body{
    height: 100%;
    font-size: 16px;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    /* inherit 부모에게 상속 받음 */
    color:inherit;
}
button {
    border: none;
    background:none;
    padding: 0;
}
.clearBox::after {content:''; display: block; clear:both;}
/*******************************************************************************************/
.header {
    background-color: black;
    border: 1px black solid;
    z-index: 100;
    position: relative;
}
.header .headerBox {
    background-color: black;
    border: red solid 1px;
    margin: 10px;
    /* display: none; */
    
}
.logo h1 {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    padding: 10px 0;
}
.logo img{
    width: 100%;
}
.header .headerBox ul{
    color: white;
    width: 950px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.header .headerBox ul li{
    display: inline-block;
    padding: 0 50px;
    font-size: 1em;
    font-weight: bold;
}
nav .navigation{
    background-color: black;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}
nav .navigation .fixedNav{
    color: white;
    width: 950px;
    margin: 10px auto;
}
nav .navigation .fixedNav li{
    display: inline-block;
    padding: 0 50px;
    font-size: 1em;
    font-weight: bold;
}
nav .navigation .naviBox{
    border: red solid 1px;
    margin: 10px;
}
/* --------------------------------------------------------------------------------------- */
.banner {
    width: 100%;
    background-color: #c7d1e3;
    padding: 50px;
}
.banner .cont{
    width: 980px;
    margin: 0 auto;
}
.banner .banner_logo01{
    width: 250px;
    
}
.banner .banner_img01{
    width: 400px;
    margin-left: 150px;
}
.bannerBox01{
    float: left;
    width: 55%;
}
.banner .banner_txt01{
    text-align: center;
}
.banner .banner_txt01 p:nth-child(1){
    font-size: 1.7em;
    line-height: 2.5em;
    color : #6a8dbf;
    font-weight: 600;
    /* letter-spacing:  */
}
.banner .banner_txt01 p:nth-child(2){
    font-size: 1.9em;
    font-weight: bold;
}
.banner .banner_txt01 p:nth-child(3){
    font-size: 2.1em;
    line-height: 1.5em;
    font-weight: bold;
}
.banner .banner_txt01 p:nth-child(4){
    font-size: 2em;
    line-height: 3em;
    font-weight: 200;
    color: red;
}
.banner .banner_txt01 p:nth-child(2) span{
    color: #6a8dbf;
}
.banner .banner_txt01 p:nth-child(3) span{
    color: #6a8dbf;
}
.banner .banner_sub01{
    width: 200px;
    margin: 50px auto;
}
.bannerBox02{
    float: right;
    text-align: center;
}
.banner .banner_logo01 img,
.banner .banner_img01 img,
.banner .banner_sub01 img{
    width: 100%;
}
/* ---------------------------------------------------------------------------------- */
.menuSection{
    padding: 150px 0;
}
.menuSection>div {
    position: relative;
    height: 350px;
}
.menuSection .coffee{
    width: 55%;
    height: 350px;
    background-image: url(../img/menu01.png);
    background-size: cover;
    background-position-x: right;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.menuSection .cake{
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 10px;
}
.menuSection .cake img{
    width: 100%;
}
/* ---------------------------------------------------------------------------------- */
.newProduct .backImg{
    border: 1px black solid;
    background-image: url(../img/newProduct.png);
    background-size: cover;
    height: 700px;
    width: 100%;
}
.newProduct .backImg h2 {
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    text-align: center;
    padding: 100px 0 150px;
    font-weight: 300;
}
.newProduct .circleBox{
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.newProduct .circle{
    height: 350px;
    width: 350px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}
.newProduct .circleBox .circle:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
.newProduct .circleBox .circle:nth-child(2){
    position: absolute;
    top: 0;
    left: 32%;
}
.newProduct .circleBox .circle:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
}